---
layout: archive
title: # "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<section>
  <h2><em>Industrial Experience</em></h2>

  <h3>Quantitative Research Intern — Yongan Guofu Asset Management Co. <span style="font-weight:normal;">(Jul 2023 - Oct 2023)</span></h3>

  <h3>Financial Engineering Intern — Soochow Securities Research Institute <span style="font-weight:normal;">(Jan 2023 - Apr 2023)</span></h3>

  <h3>Investment Banking Intern — CITIC Securities <span style="font-weight:normal;">(Jul 2022 - Sept 2022)</span></h3>
</section>


<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->
