---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% comment %}
{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endcomment %}

<!-- =============================== -->
<!-- 🎤 Academic Presentations -->
<!-- =============================== -->

<h2>Academic Presentations</h2>
<p>
  <strong>2025:</strong> The 22nd CFAM, Future Scholars in Finance Forum, ZIBS Annual Academic Forum <br>
  <strong>2024:</strong> CIRF &amp; CFRI, The 8th China Youth Derivatives Forum, AFR International Conference of Economics and Finance, The 21st CFAM
</p>
