---
layout: archive
title: # "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<section>
  <h2><em>Teaching Assistant</em></h2>

  <h3>Fixed Income Analytics and Models (Undergraduate, Fall and Winter Terms) <span style="font-weight:normal;">2024</span></h3>

  <h3>Academic Writing in Finance (Undergraduate, Winter Terms) <span style="font-weight:normal;">2024</span></h3>
</section>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
